* {
    margin: 0;
    padding: 0;
}


/* COMIENZO DEL HEADER */

header {
    background-color: #1B263B;
}

.barraNav a {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #778DA9;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1) sepia(0) saturate(10000%) hue-rotate(0deg);
}

.navbar-nav {
    display: flex;
    justify-content: center;
}
.nav-item {
    text-align: center;
}


/* COMIENZO DEL MAIN */ 
    

@media (min-width: 992px) {
    .barraNav a {
        font-size: 1.2rem;
    }
}

