* {
    margin: 0;
    padding: 0;
}


/* COMIENZO DEL HEADER */

header {
    background-color: #1B263B;
}

.barraNav a {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #1B263B;
    background-color: white;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1) sepia(0) saturate(10000%) hue-rotate(0deg);
}


/* COMIENZO DEL MAIN */ 

.contenedorJumbotron {
    text-align: center;
}

.contenedorBotonInfoLarge {
    display: none;
}

@media (min-width: 768px) {
    .contenedorTextoJumbo h1 {
        font-size: 3rem;
    }

    .contenedorTextoJumbo p {
        font-size: 1.5rem;
    }
}

@media (min-width: 950px) {
    .barraNav a {
        font-size: 1.1rem;
    }

    .contenedorBotonInfoLarge {
        display: block;
    }

    .contenedorBotonInfo {
        display: none;
    }
    
}

@media (min-width: 1440px) {

    .barraNav a {
        font-size: 1.3rem;
    }

    .contenedorJumbotron {
        height: auto;
    }

    .contenedorTextoJumbo h1 {
        font-size: 4rem;
    }

    .contenedorTextoJumbo p {
        font-size: 2rem;
    }

    .contenedorImgJumbo img {
        width: 68%;
    }
}



